.App-header {
  background-color: #fff;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  border-bottom: none;
}

.header-content {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.header-content h1 {
  color: #e03e4d;
  font-size: 4vmin;
  margin: 0px;
}