.App {
  text-align: left;
}

.ALX-logo {
  height: 16vmin;
  margin-right: 20px;
}

.App-body {
  padding: 20px;
  text-align: left;
  min-height: 60vh;
  border-top: 3px solid #e03e4d;
  box-sizing: border-box;
  transition: background-color 0.3s ease-out
}

/* When isLoggedin is false (login form) */
.App-body--logged-out {
  padding-top: 40px;
  padding-left: 45px;
  background-color: #f0f8ff;
  border: 1px dashed #a0d0ef;
}

/* When IsLoggedin is true (courses/dashboard) */
.App-body--logged-in {
  padding: 20px;
  background-color: #e6ffe6;
  border: 1px solid #66bb6a;
  color: #1a1a1a;
}
