.Notifications {
  border: 1px solid #3ee084;
  padding-bottom: 0px;
  padding-left: 20px;
  align-items: left;
  display: flex;
  flex-direction: column;
  position: center;
  top: 0;
  left: 20px;
  right: 20px;
  z-index: 1000;
}

.Notifications ul {
  list-style: none;
  padding-left: 0;
  padding-right: 20px;
}

.Notifications li[data-priority="default"] {
  color: blue;
}

.Notifications li[data-priority="urgent"] {
  color: red;
}
