.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login > .login-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    gap: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.login-form label {
    margin-right: 10px 0;
    font-size: 1.2em;
}

.login-form input {
    padding: 10px;
    font-size: 1em;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #e03e4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   